body {
    background: url(cade-roberts-742608-unsplash.jpg)no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-family: 'Bree Serif', serif;
    color: aliceblue;
    font-size: 40;
    text-align: center;
}

aside {
    height: 250px;
    background-color: silver;
    width: 46.3%;
    float: left;
}

article {
    height: 300px;
    background-color: coral;
    width: 33.3%;
    float: left;

}

p {
    color: black;
    font-family: 'Rock Salt', cursive;
    font-size: 15;
}

a {
    font-family: 'Gamja Flower', cursive;
    font-size: 20;
}
