body {
    background: url(israel-palacio-778505-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
}

p1 {
    text-align: center;
    font-family: 'Patua One', cursive;
    font-size: 25;
    color: red;
}
