h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald"
}

body {
    font-family: "Open Sans"
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #979494;
    /* old IE */
    background-color: #9b9a9a;
    /* Modern Browsers */
}

.btn {
    text-decoration: none;
}

.background{
    background-color: #cccccc;
}