body {
	background: url(Pics_for_site/debby-hudson-544846-unsplash.jpg)no-repeat center center fixed;
	background-size: cover;
}

a {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 25;
}

h1 {
	text-align: center;
	font-family: 'Unlock', cursive;
	font-size: 40;
	color: darkblue;
}

h2 {
	font-family: 'Anton', sans-serif;
	color: brown;
	text-align: center;
}

h3 {
	font-family: 'Unlock', cursive;
	font-size: 15;
}

h4 {
	font-family: 'Anton', sans-serif;
	color: brown;
}

.button {
	text-align: center;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px
	}

	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

.topnav {
	overflow: hidden;
	background-color: #000000;
}

.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-bottom: 3px solid transparent;
}

.topnav a:hover {
	border-bottom: 3px solid red;
}

.topnav a.active {
	border-bottom: 3px solid red;
}
